extends layout

block content
  h1 Quick-Book Details
  h5
    a(href="/")= "Back"
    h0= "  "
    a(href="/editbook/" + json._id)= "Edit Book"
    h0= "  "
    a(href="/delbook/" + json._id)= "Delete Book"

  h3= "ID: " + json._id
  table
    tr
      td Title
      td= json.title
    tr
      td Author
      td= json.author
    tr
      td Page
      td= json.page
    tr
      td ISBN
      td= json.isbn
    tr
      td Price
      td= json.price
    tr
      td
        b Description
    tr
      td= json.descr
    tr
      td
        hr
        h4 Comment:
    each c in cm
      tr
        td
          hr
      tr
        td Name:
        td= c.name
      tr
        td Title:
        td= c.title
      tr
        td Comment:
        td= c.content
      if session.username
        tr
          td
            a(href="/delComment/"+c._id) Delete Comment
    tr
      td
        hr
        h4 New Comment:
        form(method="post" action="/newComment/" + json._id)
          p Name:
          input(name="name" type="text" required)
          input(name="book_id" type="hidden" value=json._id)
          p Title:
          input(name="title" type="text" required)
          p Comment:
          textarea(name="content" type="text" required)
          br
          input(type="submit")
