extends layout

block content
  center
    h4 Are you sure delete book with id
      = id + " ?"
    button(onclick="window.location.replace('/book/" + id + "');'") No
    br
    form(method="post")
      input(type="hidden" value=id name="id")
      input(type="submit" value="Yes")
