extends layout

block content
  center
    h2 Edit Book of
      = " " + json._id
    a(href="/") Back To Home
    form(method="post" action="/newbook/")
      p Title:
      input(type="text" name="title" value=json.title required)
      p Author:
      input(type="text" name="author" value=json.author required)
      p Page:
      input(type="number" name="page" value=json.page required)
      p ISBN:
      input(type="text" name="isbn" value=json.isbn required)
      p Price:
      input(type="number" name="price" value=json.price required)
      p Description:
      input(type="text" name="descr" value=json.descr required)
      br
      br
      input(type="submit")
