extends layout

block content
  h1 Quick-Book Browser
  if !session.username
    a(href="/users/") Maintainer Login Page
  else
    h4= "Hello, " + session.nickname
    a(href="/users/logout/") Logout

  hr
  h4 Books List
  if session.username
    a(href="/newbook/") New Book
  table
    tr
      td Title
      td Author
      td ISBN
    each b in json

        tr
          td= b.title
          td= b.author
          td= b.isbn
          td
            a(href= "/book/"+ b._id) Details
