extends layout

block content
  center
    h1 Login
    form(method="post")
      p
        b Username:
        br
        input(type="text" name="username")
      p
        b Password:
        br
        input(type="password" name="password")
      input(type="submit")
    br
    a(href="/reg/") Register as maintainer
