extends layout

block content
  h2 New Book
  form(method="post" action="/newbook/")
    p Title:
    input(type="text" name="title" required)
    p Author:
    input(type="text" name="author" required)
    p Page:
    input(type="number" name="page" required)
    p ISBN:
    input(type="text" name="isbn" required)
    p Price:
    input(type="number" name="price" required)
    p Description:
    input(type="text" name="descr" required)
    br
    br
    input(type="submit")
