extends layout

block content

  center
    a(href="/users/") Login Page
    h2 Register New Account
    form(method="post")
      p Username:
      input(type="text" name="username" required)
      p Password:
      input(type="password" name="password" required)
      p E-Mail:
      input(type="email" name="email" required)
      p Nickname:
      input(type="text" name="nickname" required)
      br
      br
      input(type="submit" value="Register")
